body {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Helvetica';
}


body, html {
    cursor: url('handyy.svg'), pointer;
}


#game {
	position: absolute;
	top: 20%;
}

#text {
	font-size: 3em;
	font-weight: bolder;
}

#screen > img {
	z-index: -1;
}


.footer {
  z-index: 2;
  color: grey;
  padding: 1em;
  font-size: .8em;
  right: 20px;
  bottom: 10px;
  position: absolute;
  text-align: right;
  cursor: pointer;
}

.footer > a {
  text-decoration: none;
  color: inherit;
}

.footer > a:hover {
  text-decoration: underline;
}
